.board {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(0,121,191);
    padding: 24px;
}

.header {
    max-width: 100%;
    background: #0067A3 ;
    margin-bottom: 24px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: 400;
}

.columnsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 24px;
    flex: 1;
}

.columnsContainer.mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media (max-width: 1200px) {
    flex-direction: column;
    .columnsContainer {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .columnsContainer > div {
        min-width: 280px;

    }
}

